/dist/
/vendor/bin/*
/vendor/team-reflex/discord-php/bin/*
/vendor/**/.git
/vendor/**/.github
/vendor/**/*.md
.ds_store
/.cache/
/code-coverage/
/tools/php-cs-fixer/vendor/

*.phar
*.txt
*.DS_STORE

tools/TEST.php
tools/PHPSTAN.php
phpstan.neon
/vendor/nesbot/carbon/src/Carbon/Lang/
/vendor/guzzlehttp/psr7/vendor-bin/
/vendor/team-reflex/discord-php/.github/
/vendor/team-reflex/discord-php/.vscode/

phpunit.xml
.phpunit.result.cache
.php-cs-fixer.cache