includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon

parameters:
    level: max
    paths:
        - src
    excludePaths:
        analyse:
            - vendor
            - src/Libs
    bootstrapFiles:
        - test/phpstan/bootstrap.php
    checkMissingIterableValueType: false
    treatPhpDocTypesAsCertain: false