parameters:
    level: 8
    paths:
        - src
    excludePaths:
        analyse:
            - vendor
            - src/JaxkDev/DiscordBot/Libs
    bootstrapFiles:
        - test/bootstrap.php
    checkMissingIterableValueType: false