parameters:
    level: max
    paths:
        - src
    excludePaths:
        analyse:
            - vendor
            - src/Libs
    bootstrapFiles:
        - test/bootstrap.php

    checkMissingIterableValueType: false