parameters:
    level: max
    paths:
        - src
    excludePaths:
        analyse:
            - vendor
            - src/Communication/Packets/Discord
            - src/Communication/Packets/Plugin
            - src/Libs
    bootstrapFiles:
        - test/phpstan/bootstrap.php
    checkMissingIterableValueType: false
    treatPhpDocTypesAsCertain: false